################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dat
*.njsproj
.idea
_netrc
node_modules/